* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: greenyellow;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.headerTitle{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-btn {
    display: flex;
    width: 20%;
    justify-content: end;
    gap: 10px;
    padding: 10px 0;
    margin-left: 40%;
}

.nav-btn .btn {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    transition: 0.2s;
}

.nav-btn .btn:hover {
    background-color: #ccc;
}

.cancel-booking-btn {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
}

.reschedule-booking-btn {
    padding: 5px 10px;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
}

.slotHistory {
    /* height: 100vh; */
    height: 70vh;
    background-color: #f9f9f9;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
}

#historyTable {
    width: 100%;
    border-collapse: collapse;
}


table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
}

th,
td {
    padding: 12px 10px;
    text-align: left;
    font-size: 14px;
}

th {
    background: #f5f5f5;
    font-weight: bold;
}

tr:hover {
    /* transform: translateY(-3px);
    transition: all 0.3s ease; */
    background-color: #f5f5f5;
}

td.appointment-date {
    color: rgb(183, 114, 114);
    background-color: #adadad73;
    font-weight: bold;
}

#emptyHistoryMsg {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #888;
}

.hero {
    display: flex;
    height: 90%;
    flex-direction: column;
}

.filter {
    display: flex;
    margin-left: 6px;
    margin-top: 10px;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    /* cursor: pointer; */
    border-radius: 6px;
}

#apply-filter {
    margin-left: 8px;
    margin-top: 10px;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #007bff;
    color: #fff;
}

#date{
    cursor: pointer;
}

#services{
    cursor: pointer;
}

#apply-filter:hover {
    background-color: #005dc1;
}

#clear-filter{
    display: none;
    margin-left: 8px;
    margin-top: 10px;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
    background: #e74c3c;
    color: white;
    cursor: pointer;
}

#clear-filter:hover {
    background: #c0392b;
}

.action-btn {
    display: flex;
    gap: 5px;
}

.btns {
    display: none;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 5px;
    font-size: 10px;
    cursor: pointer;
}

#historyTable thead tr{
    position: sticky;
    top: 0;
}

@media (min-width:426px) and (max-width:768px) {

    .header {
        margin: 10px;
    }

    .nav-btn {
        width: 50%;
        margin-left: 0;
    }


    .action-btn {
        height: 100%;
        width: 100%;
        display: flex;
        border: none;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .btns {
        display: flex;
        width: 80%;
        margin: 6px;
        border-radius: 6px;
        font-size: 16px;
        justify-content: center;
    }

    .cancel-booking-btn {
        display: none;
    }

    .reschedule-booking-btn {
        display: none;
    }
}

@media (min-width:321px) and (max-width : 426px) {
    .header {
        height: 30%;
        justify-content: space-between;
        padding: 10px;
    }

    .headerTitle {
        width: 50%;
        font-size: 14px;
    }

    .nav-btn {
        width: 50%;
        margin-left: 0%;
    }

    .nav-btn .btn{
        padding: 4px 8px;
        font-size: 12px;
    }

    .filter {
        margin-left: 4px;
        margin-top: 0px;
        gap: 5px;
    }

    #apply-filter {
        margin-left: 3px;
        margin-top: 0px;
    }

    .slotHistory {
        height: 100%;
    }

    th,
    td {
        font-size: 10px;
    }

    .action-btn {
        height: 100%;
        width: 100%;
        display: flex;
        border: none;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }

    .btns {
        display: flex;
        width: 80%;
        margin: 6px;
        border-radius: 6px;
        justify-content: center;
    }

    .cancel-booking-btn {
        display: none;
    }

    .reschedule-booking-btn {
        display: none;
    }

}

@media screen and (max-width:376px) {

    .headerTitle {
        width: 30%;
        font-size: small;
    }

    .nav-btn {
        width: 60%;
        margin-left: 0%;
    }

    .filter {
        margin-left: 5px;
        padding: 6px 6px;
        font-size: 10px;
    }

    #apply-filter {
        margin-left: 4px;
        padding: 6px 6px;
        font-size: 10px;
    }

    th,
    td {
        font-size: 10px;
    }

    .action-btn {
        height: 100%;
        width: 100%;
        display: flex;
        border: none;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }

    .btns {
        display: flex;
        width: 80%;
        margin: 6px;
        border-radius: 6px;
        justify-content: center;
    }

    .cancel-booking-btn {
        display: none;
    }

    .reschedule-booking-btn {
        display: none;
    }
}