* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: greenyellow;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}


.nav-btn {
    display: flex;
    width: 20%;
    justify-content: end;
    gap: 10px;
    padding: 10px 0;
    margin-left: 40%;
}

.nav-btn .btn {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    transition: 0.2s;
}

.nav-btn .btn:hover {
    background-color: #ccc;
}

.hero {
    height: 90%;
}

.hero-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero-title {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 13%;
    margin-top: 10%;
}

.hero-img {
    margin: 10px;
    margin-right: 7%;
    width: 40%;
    border-radius: 50%;
}

.hero-text {
    width: 50%;
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 10px;
}

.hero-desc {
    width: 80%;
    font-size: medium;
    font-weight: 900;
}

.hero-action {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.hero-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.hero-btn:hover {
    background-color: #005dc1;
}

.modal-overlay {
    height: 80%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* display: none; */
    justify-content: center;
    align-items: center;
}

.error-div {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
}

#go-back {
    width: 30%;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

#detailsForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
}

#detailsForm input,
#detailsForm select,
#detailsForm date,
#detailsForm textarea {
    padding: 6px 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: 0.2s;
}


#detailsForm .btn {
    width: 48%;
    padding: 8px 0;
    font-size: 12px;
    border: none;
    border-radius: 6px;
    transition: 0.2s;
}

#name-error,
#email-error,
#number-error,
#services-error {
    display: none;
    color: red;
    text-align: center;
    font-size: small;
}

.legend {
    display: none;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    padding: 5px;
    justify-content: space-evenly;
    border-radius: 5px;
}

.lgd-btn {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.lgd-btn.booked {
    background-color: #ccc;
    cursor: not-allowed;
}

.lgd-btn.selected {
    background-color: #28a745;
}

#saveBtn {
    color: white;
    cursor: not-allowed;
    margin-right: 4%;
}

#saveBtn:hover {
    background: #005dc1;
}

#cancelBtn {
    background: #e74c3c;
    color: white;
    cursor: pointer;
}

#cancelBtn:hover {
    background: #c0392b;
}

.modal-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#slots-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#slot-error {
    display: none;
}

.time-slot {
    background-color: #007bff;
    color: white;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
    transition: background-color 0.3s;
}

.time-slot:hover {
    background-color: #0056b3;
}

.time-slot.booked {
    background-color: #ccc;
    cursor: not-allowed;
    text-decoration: line-through;
}

#error-msg {
    display: none;
    color: red;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.time-slot.selected {
    background-color: #28a745;
}

.time-slot.selected:hover {
    background-color: #1e7e34;
}

.clear-btn {
    /* margin-top: 10px; */
    padding: 5px 7px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.cancel-booking-btn {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
}

.reschedule-booking-btn {
    padding: 5px 10px;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
}

.slotHistory {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
}

#historyTable {
    width: 100%;
    border-collapse: collapse;
}

.slotHistory {
    width: 100%;
    max-height: 300px;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
}

th,
td {
    padding: 12px 10px;
    text-align: left;
    font-size: 14px;
}

th {
    background: #f5f5f5;
    font-weight: bold;
}

tr:hover {
    transform: translateY(-3px);
    transition: all 0.3s ease;
}

#emptyHistoryMsg {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #888;
}

#id-error {
    display: none;
    text-align: center;
}


@media (min-width:426px) and (max-width:768px) {
    .header {
        margin: 10px;
    }

    .nav-btn {
        width: 35%;
        margin-left: 0%;
    }

    .hero-inner {
        margin-top: 30px;
    }

    .hero-title {
        width: 100%;
        margin-top: 5%;
    }

    .hero h2 {
        font-size: 20px;
    }

    .modal-overlay {
        overflow-y: auto;
    }

    #name-error,
    #email-error,
    #number-error,
    #services-error {
        text-align: center;
        font-size: x-small;
    }

    #detailsForm {
        width: 550px;
    }

    #detailsForm input,
    #detailsForm select,
    #detailsForm date,
    #detailsForm textarea {
        padding: 8px 10px;
        font-size: 10px;
    }

    .legend {
        margin-top: 3px;
        margin-bottom: 2px;
        justify-content: space-evenly;
    }

    .lgd-btn {
        padding: 6px 10px;
        font-size: 10px;
    }

    .time-slot {
        padding: 6px 8px;
        font-size: 10px;
    }

    .clear-btn {
        padding: 5px 10px;
        font-size: 10px;
        margin-top: 1px;
    }

    h4 {
        font-size: 16px;
    }

    #show-date {
        font-size: 14px;
    }

    #detailsForm .btn {
        font-size: 12px;
        padding: 6px 0;
    }

}


@media screen and (max-width : 426px) {
    .header {
        justify-content: center;
        align-items: center;
    }

    .headerTitle {
        font-size: medium;
    }

    .nav-btn {
        gap: 10px;
        padding: 10px 0;
        margin-left: 30%;
    }

    .nav-btn .btn {
        padding: 0px 20px;
        font-size: 10px;
    }

    .hero {
        height: 90%;
    }

    .hero-inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hero-title {
        width: 75%;
        justify-content: center;
        align-items: center;
    }

    .hero-text {
        width: 70%;
        font-size: larger;
    }

    .hero-desc {
        width: 70%;
        font-size: small;
    }

    .hero-btn {
        padding: 7px 10px;
    }

    .hero-img {
        width: 80%;
        margin: 10%;
    }

    .modal-overlay {
        overflow-y: auto;
    }

    #detailsForm {
        width: 270px;
        padding-top: 10px;
    }

    .hero h2 {
        font-size: 16px;
    }

    #detailsForm input,
    #detailsForm select,
    #detailsForm date,
    #detailsForm textarea {
        padding: 4px 4px;
        font-size: 10px;
    }

    #name-error,
    #email-error,
    #number-error,
    #services-error {
        font-size: 10px;
    }

    .legend {
        margin-top: 3px;
        margin-bottom: 2px;
        justify-content: space-evenly;
        font-size: 12px;
    }

    .lgd-btn {
        padding: 5px 10px;
        font-size: 10px;
    }

    #slots-container{
        justify-content: left;
        gap: 5px;
    }

    .time-slot {
        padding: 5px 7px;
        font-size: 10px;
    }


    #error-msg {
        font-size: 12px;
    }

    .clear-btn {
        margin-top: 2px;
        padding: 5px 10px;
        font-size: 10px;
    }

    h4 {
        font-size: 13px;
    }

    #detailsForm .btn {
        width: 25%;
        font-size: 10px;
        padding: 6px 0px;
    }

    #show-date {
        font-size: 12px;
    }
}